@import "variables";

@mixin center($dir: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $dir;
}

@mixin ssrOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

@mixin ssrOnlyFocasable {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

@mixin mq($point) {
    $size: map-get($breakpoints , $point );

    @media (min-width: $size) {
        @content;
    }
}

@mixin psuedo($side: before, $content: "", $pos: absolute, $t: 0, $b: 0, $l: 0, $r: 0) {
    position: relative;

    &::#{$side} {
        content: $content;
        position: $pos;
        display: block;
        @content;
    }
}