// @import "../../../../styles//abstract/mixins";
// @import "../../../../styles//abstract/variables";

.servicesBox {
    background-color: $primary-color;
    padding: 64px 1rem;
    margin-top: 32px;

    @include mq(sm) {
        padding: 96px 1rem;
    }

    @include mq(md) {
        padding: 128px 1rem;
    }
}

.servicesContainer {
    max-width: 1200px;
    margin: 0 auto;

    @include mq(sm) {
        display: flex;
    }

    article:first-of-type {
        @include center();
        flex: 2;
        position: relative;
        // min-height: 477px;
        // min-width: 502px;
    }

    article:last-of-type {
        flex: 2;
        max-width: 650px;

        @include mq(sm) {
            padding: 0 2rem;
        }

        @include mq(md) {
            padding: 0 4rem;
        }

        div {
            @include center();
        }
    }

    article {
        h2 {
            font-size: 32px;
            margin-top: 64px;
            font-weight: 400;
            text-align: center;
            line-height: 39px;

            @include psuedo($content: "Don’t Give Up") {
                color: rgba(black, 0.08);
                font-size: 32px;
                font-weight: 700;
                font-family: inherit;
                top: -1rem;
                width: 100%;
            }
        }

        ul {
            li {
                color: #565656;
                padding: 0.8rem;
                list-style: none;
                font-size: 16px;

                @include mq(sm) {
                    padding: 1rem;
                }
            }
        }

        @include mq(sm) {
            h2 {
                font-size: 36px; //
                text-align: left; //
                margin-bottom: 24px; //
                margin-top: 24px;

                @include psuedo($content: "Don’t Give Up") {
                    color: rgba(black, 0.08);
                    font-size: 64px; //
                }
            }
        }
    }
}