@import "abstract/mixins";

.errorPage {
  height: 100vh;
  @include center();

  section {
    @include center();

    h1 {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border-right: 1px solid silver;
    }
  }
}

;

/**************Hero section**********/
@import "../components/organisms/hero/styles/hero";

/**************Mini Services section**********/
@import "../components/organisms/miniservices/styles/MiniServices";


/**************Mission Vision section**********/
@import "../components/organisms/miniabout/styles/MiniAbout";

/**************Mission Vision section**********/
@import "../components/organisms/visionmission/styles/Vision";