@import "../../../styles/abstract/mixins";
@import "../../../styles/abstract/variables";

.appbar {
    height: 80px;
    width: 100%;
    padding: 0 1rem;
    position: relative;
    @include center();
    background-color: $blue0;
    // overflow-x: hidden;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        overflow: hidden;

        .logo {
            p {
                color: $accent-color;
            }
        }

        .input:checked~.nav {
            transform: translateX(0%);
            transition: all 0.5s ease-out;

            @include mq(md) {
                transform: translateX(0%);
            }
        }

        .nav {
            display: block;
            width: 100%;
            min-height: calc(100vh - 80px);
            position: absolute;
            top: 80px;
            left: 0;
            padding: 1rem;
            @include center();
            background-color: rgba($accent-color, 0.9);
            z-index: 4;
            transform: translateX(150%);
            transition: all 0.5s ease-out;

            ul {
                width: 100%;

                li {
                    list-style: none;

                    a {
                        @include center();
                        width: 100%;
                        height: 100%;
                        padding: 1rem;

                        font-size: 64px;
                        font-weight: 400;
                        color: $primary-color;

                        &:hover {
                            color: $secondary-color;

                            @include mq(md) {
                                color: $accent-color;
                                // font-weight: 700;
                            }
                        }
                    }
                }
            }

            @include mq(md) {
                width: initial; //
                min-height: 100%; //
                position: unset; //
                top: initial; //
                left: initial; //
                padding: .5rem; //
                background-color: $blue0;
                transform: translateX(0%);

                ul {
                    display: flex; //

                    li {
                        a {
                            font-size: 16px; //
                            color: #000;
                        }
                    }
                }
            }
        }

        .input:checked~.menu {
            span:first-of-type {
                &::before {
                    transition: all 0.3s ease-in-out;
                    width: 80%;
                }

                &::after {
                    transition: all 0.3s ease-in-out;
                    width: 60%;
                }
            }
        }

        .menu {
            width: 3rem;
            height: 1.5rem;
            max-height: 2rem;
            position: relative;
            display: flex;
            cursor: pointer;
            user-select: none;

            span:first-of-type {
                display: inline-block;
                width: 100%;
                background-color: black;
                z-index: 1;
                height: 4px;

                @include psuedo() {
                    height: 4px;
                    width: 100%;
                    background-color: black;
                    top: 8px;
                    right: 0;
                    transition: all 0.3s ease-in-out;
                }

                @include psuedo(after) {
                    height: 4px;
                    width: 100%;
                    background-color: black;
                    top: 16px;
                    right: 0;
                    transition: all 0.3s ease-in-out;
                }
            }

            span:last-of-type {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                user-select: none;
            }

            @include mq(md) {
                display: none;
            }
        }
    }
}