@import "../../../styles/abstract/mixins";
@import "../../../styles/abstract/variables";

.appbar {
    min-height: 80px;
    width: 100%;
    padding: 0 1rem;
    position: relative;
    @include center();
    background-color: $blue0;

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        overflow: hidden;
        flex-wrap: wrap;
        margin-top: 24px;
        row-gap: 1rem;

        p {
            text-align: center;
        }

        @include mq(xs) {
            justify-content: space-between;

            p {
                text-align: left;
            }

        }

        .logo {
            p {
                color: rgba($accent-color, 0.85);
                font-size: 16px;
                font-family: $font-secondary;
            }
        }

        .nav {
            display: block;
            right: 1rem;
            z-index: 4;
            transition: all 0.5s ease-out;
            border-bottom: 1px solid rgba($accent-color, 0.15);
            margin-bottom: 1rem;


            @include mq(xs) {
                margin-bottom: 0rem;
            }

            ul {
                display: flex;

                li {
                    list-style: none;



                    a {
                        @include center();
                        height: 100%;
                        padding: 1rem .5rem;

                        @include mq(sm) {
                            padding: 1rem;
                        }

                        font-size: 16px;
                        font-weight: 400;
                        color: #000;

                        &:hover {
                            color: $accent-color;
                        }
                    }
                }
            }

            @include mq(md) {
                min-height: 100%;
                padding: .5rem;
                background-color: $blue0;

                ul {
                    display: flex;

                    li {
                        a {
                            font-size: 16px; //
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}